<a href="https://colab.research.google.com/github/Bune0/Sqlite3/blob/main/Creation_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing necessary librarires

In [ ]:
import sqlite3

# Establishing connection

In [ ]:
Connection=sqlite3.connect('Image.db')

# Making a cursor

In [ ]:
Cursor=Connection.cursor()

# Creating a table in sqlite3

In [ ]:
Cursor.execute("""CREATE TABLE IF NOT EXISTS Table1 (ID INTEGER PRIMARY KEY,Images BLOB NOT NULL) """)

# Closing cursor and connection

In [ ]:
Cursor.close()
Connection.close()